.layout-container {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-inner-container {
  width: 80%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
